@model Dominio.Entidades.Tipo

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo tipo</h1>

<h4>Tipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" id="formAltaTipo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" id="nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" id="descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

<span class="text-danger" id="pMensaje">@ViewBag.Resultado</span>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.querySelector("#formAltaTipo").addEventListener('submit', validarDatos);

        function validarDatos(evento) {
            event.preventDefault();

            let tipoNombre = document.querySelector("#nombre").value;
            let tipoDescripcion = document.querySelector("#descripcion").value;

            if (validarTexto(tipoNombre) && !TextoContieneNumeros(tipoNombre)) {
                if (tipoDescripcion !== null && tipoDescripcion.trim().length >= 10 && tipoDescripcion.trim().length <= 200) {
                    this.submit();

                } else {
                    document.querySelector("#pMensaje").innerHTML = "La descripción debe tener al menos 10 caracteres";
                }
            } else {
                document.querySelector("#pMensaje").innerHTML = "Por favor indique un nombre para el tipo de Planta. No puede contener números";
            }
        }

        function validarTexto(value) {
            ret = false;
            if (value != null && isNaN(value) && value.trim().length > 0) {
                ret = true;
            }
            return ret;
        }


        function TextoContieneNumeros(value) {
            let ret = false;
            let x = 0;
            while (x < value.length && !ret) {
                let caracter = value.charCodeAt(x);
                if (caracter >= 48 && caracter <= 57) {
                    ret = true;
                }
                x++;
            }
            return ret;
        }
    </script>
}
