@model Dominio.Entidades.Usuario

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" id="formLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="idUsuario" class="control-label"></label>
                <input asp-for="idUsuario" class="form-control" />
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input id="txtMail" asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label">Contraseña</label>
                <input id="txtContrasenia" type="password" asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <span class="text-danger" id="pMensaje">@ViewBag.msg</span>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.querySelector("#formLogin").addEventListener('submit', validarDatos);

        function validarDatos(evento) {
            event.preventDefault();

            let nomUsu = document.querySelector("#txtMail").value;
            let pass = document.querySelector("#txtContrasenia").value;

            if (nomUsu != "" && pass != "") {
                this.submit()

            } else {
                document.querySelector("#pMensaje").innerHTML = "Ingrese nombre de usuario y contraseña";
            }
        }
    </script>
}
